/tools/build_openfoam_semifrozen_solver.sh text eol=lf
/tools/openfoam_semifrozen_attestation.py text eol=lf
/openfoam_semifrozen_solver/Make/files text eol=lf
/openfoam_semifrozen_solver/Make/options text eol=lf
/openfoam_semifrozen_solver/semiFrozenChtMultiRegionFoam.C text eol=lf
